[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.2.x.cfg

parts =
    instance
    zopepy
    readonly

develop = .
extensions =
    mr.developer
    buildout.dumppickedversions
sources = sources
versions = versions
sources-dir = extras
always-checkout = true
auto-checkout =
    wildcard.lockdown


[sources]
wildcard.lockdown = git git@github.com:collective/wildcard.lockdown.git
wildcard.recipe.insertinto = git git@github.com:collective/wildcard.recipe.insertinto.git

[instance]
recipe = plone.recipe.zope2instance
eggs =
    Plone
    Pillow
    plone.reload
    Products.PdbDebugMode
    Products.PrintingMailHost
    psusymp.hardenedplone
user = admin:admin
resources = ${buildout:directory}/resources

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy

[readonly]
recipe = wildcard.recipe.insertinto
client = ${instance:location}/etc/zope.conf insert-before "</filestorage>" "\n\tread-only true\n"
